
h1 {
    font-size: 6em;
    color: yellow;
}


/* showcase*/

.showcase {
    background-image: url("/img/screens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




.boxes {
    background-image: url("/img/screens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}