body {
    background-color: #f0f0f0;
}
h1 {
    font-size: 4em;
    color: yellow;
}



/* showcase*/

.showcase {
    background-image: url("/img/screens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;

}




.boxes {
    background-image: url("/img/screens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;


}

.hire {
    background-color: #d8d5dc;

}

.lead {
    font-weight: bold;
}

.space {
    background-image: url("/img/screens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.about {


    font-size: 2rem;
}

.neumorphic-box {
    background: #e0e0e0;
    box-shadow: 4px 4px 10px #bebebe, -4px -4px 10px #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.neumorphic-footer {
    background: #e0e0e0;
    box-shadow: 4px 4px 10px #bebebe, -4px -4px 10px #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}

